set clipboard=unnamed
let mapleader=" "

inoremap jk <ESC>

map <leader>gh <Action>(ShowErrorDescription)
map <leader>gn <Action>(ReSharperGotoNextErrorInSolution)
map <leader>gp <Action>(ReSharperGotoPrevErrorInSolution)

map <leader>ca <Action>(ShowIntentionActions)
map <leader>af <Action>(SilentCodeCleanup)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

map <leader>bs <Action>(BuildWholeSolutionAction)
map <leader>tb <Action>(ToggleLineBreakpoint)
map <leader>rd <Action>(mainRunToolbarDebugProcess)
map <leader>rt <Action>(RiderUnitTestRunSolutionAction)
