set clipboard=unnamed
set ignorecase
set hlsearch
let mapleader = " "

inoremap jk <ESC>
nnoremap <LEADER><SPACE> :noh<ENTER>

map <leader>w [w
map <leader>b [b

map <leader>gh <Action>(ShowErrorDescription)
map <leader>gn <Action>(ReSharperGotoNextErrorInSolution)
map <leader>gp <Action>(ReSharperGotoPrevErrorInSolution)

map <leader>ca <Action>(ShowIntentionActions)
map <leader>af <Action>(SilentCodeCleanup)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

map <leader>tb <Action>(ToggleLineBreakpoint)
map <leader>rb <Action>(BuildWholeSolutionAction)
map <leader>rd <Action>(mainRunToolbarDebugProcess)
map <leader>rt <Action>(RiderUnitTestRunSolutionAction)
